  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
   /* header section start 
   ============================= */
.hero{
 width: 1100px;
 height: 600px;
 overflow: hidden;
 position: relative;
 text-align: center;

}
 .hero-img{
    width: 1095px;
    height: 600px;
 }
.hero-item{
 position: absolute;
 top: 40%;
 left: 35%;

}
.hero-item h1{
 font-weight: 600;  
 color:#f85509
 
}
 .para-01{
    color: rgb(82, 8, 151);
 }
 .btn-custom{
 padding: 10px 15px;
 background-color:#9d390b;
 text-decoration: none;
 border-radius: 15px;
 color: white ;
 }
  .btn-custom:hover{
   background-color: rgb(123, 233, 13);
   color: blueviolet;
  }

 /* header section end 
 ========================== */
  
  /* product section start 
  ========================== */
   .feature-card:hover{
   transform: translate(-10px);

   }
  .feature-card{
   padding: 25px;
   background-color: #cfc3c3;
  border-radius: 15px;
  margin-bottom: 25px;
  transition: transform 0.5s ease;

  }
 
 .picture-1{
 width: 80px;
 height: 80px;
 }

  .para-02{
   color: #f85509;
  }

  .checkout-section{
    padding: 60px 0px;
    width: 500px;
    height: 400px;

  }
   .checkout-section h2{
   text-align: center;
   margin-bottom: 50px;
   font-weight: 700;
   }

   .form-main{
      margin-bottom: 50px;
   }
   .custom-input{
    width: 400px; 
    height: 50px;
    border-radius: 8px;

   }
    .checkout-form{
     background-color: rgb(88, 86, 86);
     padding: 10px;
     width: 400px;
     margin-left: 35%;
     box-shadow: 10px 10px 5px 7px rgba(151,196,77,0.75);
    }
    .form-main h2{
      font-weight: 700;
      margin-left: 35%;
    color: #f85509;

    }
    .footer{
      width: 100%;
      height: 200px;
      margin-top: 20px;
      border: 1px solid;
    }
   

 .footer-man img{
   width: 60px;
   height: 60px;
 }
 .footer{
 padding: 60px 0px;
 background-color: black;
 color: white;
 margin-top: 15px;
 }
 .footer-contain{
 display: flex;
 justify-content: space-between;
 }
 .logo-div a:hover{
  color: crimson;
 }